

body {
	font-family: 'Roboto', sans-serif;
	transition: all 0.5s;
	background-image: url(/assets/images/w3.jpeg);
	scroll-behavior: smooth;
}
p {
	/* background-color: aliceblue; */
	margin-bottom: 0px;
	font-size: 14px;
	color: #4a4a4a;
	line-height: 24px;
}
a {
	text-decoration: none!important;
}

.copyright-text {
	text-transform: uppercase;
}

.main-button a {
	background-color: #3a8bcd;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
}
.main-button a:hover {
	opacity: 0.7;
}

.section-heading {
	margin-top: 80px;
	margin-bottom: 40px;
}

.first{
	margin-bottom: 0;
}
.section-heading .line-dec {
	width: 30px;
	height: 5px;
	background-color: #3a8bcd;
}
.section-heading h1 {
	font-size: 22px;
	font-weight: 700;
	color: #f8f9fa;
	margin-top: 15px;
}

/* Pre Header Style */
#pre-header {
	background-color: #78899f;
	text-align: right;
}
#pre-header span {
	color: #fff;
	font-size: 15px;
	padding: 10px 0px;
	display: inline-block;
}
#pre-header .text-running{
	animation: text_running 18s linear infinite;
  }
  
  @keyframes text_running{
	0%{
	  transform: translate(0, 0);
	}
	100%{
	  transform: translate(-400%, 0);
	}
  }

/* Header Style */
.navbar .navbar-brand {
	text-align: left;
	width: 100%;
	position: relative;
	padding: 25px 0px;
	color: #1e1e1e;
	font-weight: 700;
}
.navbar .navbar-brand img{
	margin-right: 10px;
}
.bg-dark {
	background-color: #fff!important;
	border-bottom: 1px solid #eee;
}
/* #navbarResponsive {
	z-index: 999;
	position: absolute;
	left: 50%;
	top: 105px;
	transform: translateX(-50%);
} */
.navbar-light .navbar-nav .nav-item {
	text-align: center;
	width: 130px;
	height: 32px;;
	border-right: 1px solid #969c9d;	
}
.navbar-light .navbar-nav .nav-item:last-child{
	border-right: none;
}
.navbar-light .navbar-nav .nav-link {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: #1e1e1e;
	transition: all 0.5s;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: #3a8bcd;
}
.navbar:after {
	width: 100%;
	height: 1px;
	background-color: #eee;
	content: '';
	position: absolute;
	left: 0;
	bottom: -52px;
}
.navbar-light .navbar-toggler-icon {
	background-image: none;
}
.navbar-light .navbar-toggler {
	border-color: #3a8bcd;
	background-color: #3a8bcd;	
	height: 50px;
	outline: none;
}
.navbar-light .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #FFF;
	font-size: 22px;
	line-height: 30px;
	font-family: 'FontAwesome';
}
.dropdown-menu{
	min-width: 7rem;
	z-index: 999;
}
.dropdown-menu .dropdown-item{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: #1e1e1e;
	transition: all 0.5s;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active{
	color: #3a8bcd;
}
.navbar-collapse{
	display: flex;
	align-items: stretch;
	justify-content: center;
}



/* Banner Style */
.banner {
	margin-top: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0px;
	background-position: center center;
}
.banner1{
	background-image: url(../images/bl1.jpg);
}
.banner2{
	background-image: url(../images/bl2.jpg);
}
.banner3{
	background-image: url(../images/bl4.jpeg);
}


.banner .caption {
	background-color: rgba(250,250,250,0.9);
	padding: 30px;
	max-width: 450px;
}
.banner .caption h2 {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 700;
	color: #1e1e1e;
}
.banner .caption .line-dec {
	width: 30px;
	height: 5px;
	background-color: #3a8bcd;
}
.banner .caption p span{
	color: #007bff;
}
.banner .caption p {
	margin-top: 15px;
	margin-bottom: 20px;
}

/* Statistics Counter Style */
.counter-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
  }
  .counter-wrapper .container {
	width: 28vmin;
	height: 28vmin;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em 0;
	position: relative;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	border-radius: 0.5em;
	background-color: #21242b;
	opacity: 0.9;
	border-bottom: 10px solid #3a8bcd;
  }
  .counter-wrapper .container i {
	color: #3a8bcd;
	font-size: 2.5em;
	text-align: center;
  }
  .counter-wrapper .container span.num {
	color: #ffffff;
	display: grid;
	place-items: center;
	font-weight: 600;
	font-size: 3em;
  }
  .counter-wrapper .container span.text {
	color: #e0e0e0;
	font-size: 1em;
	text-align: center;
	pad: 0.7em 0;
	font-weight: 400;
	line-height: 0;
  }




/* Featured Style */
.featured-items {
	margin-bottom: 70px;
}
.featured-item {
	position: relative;
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 20px;
	transition: all 0.5s;
	overflow: hidden;
}
.featured-item{
	position: relative;
    overflow: hidden;
	width: 100%;
}

.featured-item span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 2px;
    background: rgba(30, 146, 251, 0.5);
    color: #fff;
    backdrop-filter: blur(4px);
    cursor: pointer;
    transition: 1.0s;
    opacity: 0;
}
.featured-item:hover span {
    opacity: 1;
}
.featured-item:hover img {
    transform: scale(0.9);
	transition: 1.0s;
}
.featured-item:hover h4,h6 {
    opacity: 0.9;
	transition: 1.0s;
}
.featured-item:hover {
	opacity: 0.9;
}
.featured-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: 0.5s;
}
.featured-item h4 {
	font-size: 17px;
	font-weight: 700;
	color: #1e1e1e;
	margin-top: 15px;
	transition: all 0.5s;
}
.featured-item:hover h4 {
	color: #3a8bcd;
}
.featured-item h6 {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 0px;
}
.owl-theme .owl-dots {
	text-align: center;
	margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot {
	outline: none;
}
.owl-theme .owl-dots .active span {
	background-color: #3a8bcd!important;
}
.owl-theme .owl-dots .owl-dot span {
	background-color: #aaa;
	width: 8px;
	height: 8px;
	display: inline-block;
	margin: 0px 5px;
	outline: none;
}



/* Subscribe Style */
.subscribe-form {
	background-color: #78899f;
	padding: 45px 0px;
	text-align: center;
}
.subscribe-form .section-heading  {
	margin-top: 0px;
}
.subscribe-form .section-heading h1 {
	font-size: 28px;
	color: #fff;
}
.subscribe-form .section-heading .line-dec {
	background-color: #fff;
	margin: 0 auto;
}
.subscribe-form .main-content p {
	font-size: 17px;
	color: #fff;
	margin-bottom: 30px;
}
.subscribe-form .main-content form  {
	color: #fff;
	display: inline;
}
.subscribe-form .main-content form input {
	display: inline;
}
.subscribe-form .main-content form input {
	width: 100%;
	height: 46px;
	border: 1px solid #fff;
	background-color: transparent;
	padding-left: 15px;
	color: #fff;
	outline: none;
}
.subscribe-form .main-content form button:focus {
	color: #fff!important;
}
.subscribe-form .main-content form button:hover {
	font-weight: 700;
}
.subscribe-form .main-content form button {
	width: 100%;
	height: 45px;
	cursor: pointer;
	background-color: #fff;
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #3a8bcd;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: none;
	border: none;
}
.contact-title{
	font-weight: 600;
}


/* Footer Style */
.footer {
	background: #fff;
	text-align: center;
}
.footer ul {
	padding: 0px;
	margin: 0px;
}
.footer ul li {
	list-style: none;
	display: inline-block;
}
.footer .logo img {
	max-width: 100%;
	margin-top: 60px;
	margin-bottom: 40px;
}
.footer .footer-menu {
	margin-bottom: 40px;
}
.footer .footer-menu ul li {
	margin: 0px 15px;
}
.footer .footer-menu a {
	font-size: 13px;
	color: #7a7a7a;
	text-transform: uppercase;
	transition: all 0.5s;
}
.footer .footer-menu a:hover {
	color: #3a8bcd;
	text-decoration: none;
}
.footer .social-icons {
	margin-bottom: 60px;
}
.footer .social-icons ul li {
	margin: 0px 10px;
}
.footer .social-icons a {
	width: 32px;
	height: 32px;
	color: #fff;
	background-color: #aaa;
	text-align: center;
	display: inline-block;
	line-height: 33px;
	border-radius: 50%;
	font-size: 13px;
	transition: all 0.5s;
}
.footer .social-icons a:hover {
	background-color: #3a8bcd;
}

/* Sub Footer Style */
.sub-footer {
	border-top: 1px solid #eee;
	text-align: center;
}
.sub-footer p {
	font-size: 12px;
	color: #fff;
	line-height: 60px;
}
.sub-footer a {
	color: #2d3942;
	text-decoration: none;
}
.featured-page{
	margin-top: 50px;
}


.featured-page .section-heading {
	margin-top: 80px;
	margin-bottom: 40px;
}
.featured-page #filters {
	margin-top: 15px;
	text-align: right;
}
.featured .featured-item {
	margin-bottom: 30px;
	text-decoration: none;
}
.featured .featured-item h4 {
	transition: all 0.5s;
}
.featured .featured-item:hover h4 {
	color: #3a8bcd;
}
#filter button {
	outline: none;
}
#filter .btn-primary.focus,
.btn-primary:focus {
	color: #3a8bcd!important;
	box-shadow: none!important;
}
#filters .btn-primary {
	color: #1e1e1e;
	border: none;
	font-size: 15px;
	font-weight: 700;
	background-color: transparent;
}

/* Infinite Carousel Styles */

.swiper {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 28px;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    background-color: #21242b;
  }
  
  .swiper ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* #3a8bcd */
  .swiper .carousel {
    position: relative;
    overflow: hidden;
    background: linear-gradient(10deg, rgb(204, 215, 224) 0%, rgba(255, 255, 255, 0.5) 100%);
    box-shadow: 5px 10px 30px rgba(254, 255, 255, 0.15);
  }
  
 .swiper .carousel__slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 160vw;
    height: 200px;
  }
  
  .swiper .carousel__list {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .swiper .carousel__item img{
    width: 100px;
    height: 100px;
  }


/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

.page-navigation ul {
	text-align: center;
	border-top: 1px solid #eee;
	padding: 30px  0px 0px 0px;
	margin: 0px 0px 80px 0px;
}
.page-navigation ul li {
	display: inline-block;
}
.page-navigation ul li a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 38px;
	border: 1px solid #eee;
	border-radius: 5px;
	font-weight: 700;
	color: #1e1e1e;
	font-size: 15px;
	text-decoration: none;
	transition: all 0.5s;
}
.page-navigation ul li a:hover,
.page-navigation ul li.current-page a {
	background-color: #3a8bcd;
	border-color: #3a8bcd;
	color: #fff;
}



/* Single Product Style */
.single-product .product-slider {
	padding: 20px;
	border: 1px solid #eee!important;
	border-radius: 5px;
}
.flexslider {
	border: none!important;
}
#carousel {
	margin-top: 20px;
}
#carousel .slides li {
	width: 150px!important;
}
.single-product .right-content h4 {
	font-size: 17px;
	font-weight: 700;
	margin-top: 0px;
}
.single-product .right-content h6 {
	color: #fff ;
	font-size: 17px;
	font-weight: 700;
	margin-top: 10px;
}
.single-product .right-content p {
	margin-top: 20px;
	margin-bottom: 30px;
}
.single-product .right-content span {
	font-size: 14px;
	color: #f8f9fa;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 15px;
}
.single-product .right-content label {
	font-size: 14px;
	color: #4a4a4a;
}
.single-product .right-content .quantity-text {
	margin-left: 10px;
	width: 44px;
	height: 44px;
	line-height: 42px;
	font-size: 14px;
	font-weight: 700;
	color: #4a4a4a;
	display: inline-block;
	text-align: center;
	outline: none;
	border: 1px solid #eee;
}
.single-product .right-content .button {
	margin-left: 15px;
	cursor: pointer;
	background-color: #3a8bcd;
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: none;
	border: none;
}
.single-product .right-content .down-content span {
	margin-bottom: 0px;
	display: inline-block;
	margin-left: 8px;
	color: #aaa;
}
.single-product .right-content .down-content span a {
	color: #aaa;
	font-weight: 400;
	margin-left: 4px;
	transition: all 0.5s;
}
.single-product .right-content .down-content span a:hover {
	color: #3a8bcd;
}
.single-product .right-content .down-content span a:hover i {
	background-color: #3a8bcd;
}
.single-product .right-content .down-content span a i {
	transition: all 0.5s;
	background-color: #aaa;
	width: 26px;
	height: 26px;
	display: inline-block;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	margin-right: 5px;
}
.single-product .right-content .down-content .categories {
	border-top: 1px solid #eee;
	margin-top: 30px;
	padding: 10px 0px;
}
.single-product .right-content .down-content .share {
	border-top: 1px solid #eee;
	padding: 10px 0px;
}
.single-product .right-content .down-content h6 {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: 400;
}

.single-product .right-content .down-content .categories span a{
	color: #fff;
}



/* About Us Style */
.about-page {
	margin-top: 50px;
    margin-bottom: 80px;
}

.about-page p{
	color: #292828;
}

.about-page .right-content h4,
.about-page .left-content h4 {
	font-size: 17px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
}
.about-page .left-image img,
.about-page .right-image img {
	max-width: 100%;
}
.about-page .right-content p i,
.about-page .left-content p i{
	z-index: 9;
	font-size: 13px;
	font-weight: 900;
	color: #3a8bcd;
	animation: arrow 5s linear infinite;
}
@keyframes arrow {
	 0%{
     transform: scale(1.0);
	 }
	 
	 50%{
		transform: scale(1.4);
	 }
	 
	 100%{
	 transform: scale(1.8);
	 }
}




/* Contact Page Style */
.contact-page {
	margin-top: 50px;
    margin-bottom: 80px;
}
.contact-page .right-content input,
.contact-page .right-content textarea {
	border-radius: 0px;
	outline: none;
	box-shadow: none;
	font-size: 14px;
	margin-bottom: 30px;
}
.contact-page .right-content input {
	height: 44px;
	line-height: 44px;
}
.contact-page .right-content textarea {
	height: 200px;
	max-height: 280px;
}
.contact-page .right-content span {
	display: inline-block;
	margin-left: 8px;
}
.contact-page .right-content span a i {
	transition: all 0.5s;
	background-color: #aaa;
	width: 26px;
	height: 26px;
	display: inline-block;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	margin-right: 5px;
}
.contact-page .right-content .share {
	margin-top: 30px;
	border-top: 1px solid #eee;
	padding: 15px 0px;
}
.contact-page .right-content h6 {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: 400;
}
.contact-page .right-content span a:hover i {
	background-color: #3a8bcd;
}
.contact-page .right-content .button {
	cursor: pointer;
	background-color: #3a8bcd;
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: none;
	border: none;
}






/* Responsive Style */
@media screen and (max-width: 1024px) {
	.counter-wrapper .container {
	  height: 26vmin;
	  width: 26vmin;
	  font-size: 12px;
	}
	.about-page .right-content p,
	.about-page .left-content p{
		font-size: 13px;
		line-height: 20px;
	}
  }

@media (max-width: 991px) {

	.banner {
		border-top: none;
		margin-top: 0px;
	}
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	/* #navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    top: 96px;
	    width: 100%;
	    text-align: center;
	    background-color: rgba(250,250,250,0.95);
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	} */
	.navbar-nav .dropdown-menu{
		min-width: 7rem;
		z-index: 999;
		position: absolute;
		left: 10%;
		padding: 0;
	}
	.navbar-light .navbar-nav .nav-item:last-child {
		border-right: 1px solid #969c9d;
	}
	.navbar-light .navbar-nav .nav-link {
		padding: 15px 0px;
	}
	.featured-page #filters {
		text-align: right;
	} 
	.single-product .right-content {
		margin-top: 30px;
	}
	.about-page .right-content {
		margin-top: 30px;
	}
	.contact-page .right-content {
		margin-top: 30px;
	}
	.contact-page .right-content .col-md-6,
	.contact-page .right-content .col-md-12 {
		padding: 0px;
	}
	.featured-page {
		margin-top: 80px;
	}
	.about-page,
	.contact-page {
		margin-top: 0px;
	}
	.about-page .left-image img,
	.about-page .right-image img{
		height: 400px;
	}

}

@media (max-width: 768px) {

	.subscribe-form .main-content form input.button {
		margin-top: 20px;
	}
	.counter-wrapper {
		flex-wrap: wrap;
		gap: 30px;
	  }
	.counter-wrapper .container {
		width: calc(50% - 40px);
		height: 30vmin;
		font-size: 14px;
	  }
	.featured-page #filters {
		margin-top: 15px;
		text-align: left;
	} 
	.swiper .carousel__slider{
		height: 160px;
	}
	.swiper .carousel__item img{
		width: 70px;
		height: 70px;
	  }
	.about-page .right-image,
	.about-page .left-image{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 550px) {

	.swiper .carousel__slider{
		height: 150px;
	}
	
	.swiper .carousel__item img{
		width: 50px;
		height: 50px;
	  }
	.about-page .right-image,
	.about-page .left-image{
		display: flex;
		justify-content: center;
		align-items: center;
	}
    .about-page .right-image img,
	.about-page .left-image img{
		height: 320px;
	}

}

@media (max-width: 480px) {
	#pre-header span {
		font-size: 10px;	
	}
	.carousel .banner .caption p{
		font-size: 12px;
	}
	.counter-wrapper {
	  gap: 15px;
	}
	.counter-wrapper .container {
	  width: 90%;
	  height: 25vmin;
	  font-size: 8px;
	}
	.featured-item{
		padding: 35px;
	}
	.subscribe-form .main-content p{
		font-size: 14px;
	}
	.about-page .right-image,
	.about-page .left-image{
		display: flex;
		justify-content: center;
		align-items: center;
	}
    .about-page .right-image img,
	.about-page .left-image img{
		height: 250px;
	}
	.footer .footer-menu a{
		font-size: 11px;
	}
	.footer .social-icons{
		margin-bottom: 35px;
	}
	.copyright-text p{
		font-size: 11px;
	}
  }


@media (max-width: 400px) {

	.swiper .carousel__item img{
		width: 45px;
		height: 45px;
	  }

}

.preloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(218, 214, 214);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.circle{
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #0f0, #00f, #f00);
    border-radius: 50%;
    animation: animate 2s linear infinite;
    transform: rotate(0);
    filter: hue-rotate(0);
    position: relative;
    box-shadow: 0 0 10px yellow,
                0 0 20px blue,
                0 0 40px red,
                0 0 80px green,
                0 0 160px yellow,
                0 0 240px blue,
                0 0 580px red;
    }
.circle::after{
    content: 'F17 JEANS';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    background: dark blue;
    border-radius: 10%;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes animate{
    to{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
} 

.loader-hide{
    opacity: 0;
    pointer-events: none;
}